<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="25">
    <mat-toolbar color="primary">Login page</mat-toolbar>
    <form fxLayoutAlign="stretch" fxLayout="column" class="login-form">
        <mat-form-field>
          <input matInput placeholder="Username">
        </mat-form-field>

        <mat-form-field>
          <input matInput type="Password" placeholder="Password" value="" >
        </mat-form-field>
        <span>*password must be 8 charecter</span>
        <span>*password have capital & small letter</span>
        <span>*using @#$%&*</span>
        <button mat-flat-button color="primary" style="color:rgb(128, 0, 32);" type="submit">Submit</button>
        
    </form>
    
  </mat-card>
</div>